body 
{
	background-color: white;
	margin: 0;
}
canvas 
{
	position: absolute;
	top: calc(50vh - 167px);
	left: calc(50vw - 250px);

	margin:  0 auto;

	width: 500px;
	height: 330px;

}	
img 
{
	display: none;
}
.block-through
{
	display: block;
	position: relative;
	pointer-events: none;

	width: 100%;
	text-align: center;
}

.block
{
	display: block;
	width: 100%;
	text-align: center;
}
.border 
{
	display: block;
	position: relative;
	top: calc(50vh - 167px);
	/*left: calc(50vw - 250px);*/

	margin:  0 auto;

	width: 500px;
	height: 330px;

	/*border: 1px solid rgba(0,0,0,0.1);*/

	/*box-shadow: 0px 20px 2px 20px rgba(0,0,0,0.4);*/
	/*-webkit-box-shadow: 0px 12px 123px 0px rgba(102,50,102,0.51);*/
	/*-moz-box-shadow: 0px 12px 123px 0px rgba(102,50,102,0.51);*/
	box-shadow: 0px 12px 123px 0px rgba(102,50,102,0.51);


	-webkit-animation: gradient 10s ease infinite;
	-moz-animation: gradient 10s ease infinite;
	animation: gradient 10s ease infinite;



}

@-webkit-keyframes gradient {
    0%{ box-shadow: 0px 12px 123px 0px rgba(233,119,129,0.51); }
    50%{ box-shadow: 0px 12px 123px 0px rgba(107,57,210,0.51); }
    100%{ box-shadow: 0px 12px 123px 0px rgba(243,67,76,0.51); }
}
@-moz-keyframes gradient {
    0%{ box-shadow: 0px 12px 123px 0px rgba(233,119,129,0.51); }
    50%{ box-shadow: 0px 12px 123px 0px rgba(107,57,210,0.51); }
    100%{ box-shadow: 0px 12px 123px 0px rgba(243,67,76,0.51); }
}
@keyframes gradient { 
    0%{ box-shadow: 0px 12px 123px 0px rgba(233,119,129,0.51); }
    50%{ box-shadow: 0px 12px 123px 0px rgba(107,57,210,0.51); }
    100%{ box-shadow: 0px 12px 123px 0px rgba(243,67,76,0.51); }
}

.clear
{
	position: relative;
	display: inline-block;
	/*width: 40px;
	height: 40px;*/

	z-index: 3;
	margin: 250px auto;
	/*padding: 0.5em;*/

	color: #999;
	font-size: 1em;
	text-align: center;
	cursor: pointer;
	font-family: arial;
}
.clear:hover
{
	color: red;
	border: 1px solid red;

}
.text-input-outer
{
	width: 100%;
}

#textInput 
{
	position: absolute;
	bottom: 20vh;

	left: calc(50% - 150px);
	width: 300px;

	margin: 0 auto;

	outline: none;
	border: 1px solid #666;
	/*border: none;*/
}